@model Note

<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Note" asp-action="Update" method="post">
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="control-label"> Not</label>
                            <input class="form-control" asp-for="NoteText" />
                            <span asp-validation-for="NoteText" class="text-danger"></span>
                        </div>
                      
                      

                        <div class="row form-group">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary" value="Güncelle" style="float: right;" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>